package template

import (
	"fmt"
	"git.jelius.dev/jelius-sama/Portfolio/template/components"
	"git.jelius.dev/jelius-sama/Portfolio/types"
)

templ Base(metadata templ.Component, body templ.Component, footer templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<link href={ fmt.Sprintf("%s/assets/output.css", types.EVAssetCDNHostname.Get().Value) } rel="stylesheet"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			if metadata != nil {
				@metadata
			}
		</head>
		<body>
			@components.Header()
			if body != nil {
				@body
			}
			if footer != nil {
				@footer
			}
			@HTMXScript()
		</body>
	</html>
}
