package template

import (
	"git.jelius.dev/jelius-sama/Portfolio/template/components"
	"git.jelius.dev/jelius-sama/Portfolio/types"
	"github.com/gofiber/fiber/v3"
)

var baseScript = templ.NewOnceHandle()

templ Base(serverCtx fiber.Ctx, metadata types.Metadata, body templ.Component, footer templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@Metadata(metadata)
		<body hx-ext="head-support">
			@components.Header(serverCtx)
			if body != nil {
				@body
			}
			if footer != nil {
				@footer
			}
			@baseScript.Once() {
				@HTMXScript()
				@HTMXHeadSupport()
				@HTMXHotFixes()
				<script>
					// TODO: Fix browser back button not preserving scroll position
					document.addEventListener("htmx:beforeSwap", function(event) {
						if (event.detail.target.tagName.toLowerCase() === "main" || event.detail.target.id === "main") {
							window.scrollTo(0, 0);
						}
					});
				</script>
			}
		</body>
	</html>
}
