package template

templ HomeContent() {
	<main>
		<h1 class="text-3xl font-bold underline">
			Welcome!
		</h1>
		<a href="/links" hx-get="/links" hx-target="main" hx-swap="outerHTML" hx-push-url="true">
			Go to Links Page
		</a>
	</main>
}
