package template

// TODO: Returned response could be JSON, render an error card instead of raw JSON
templ HTMXHotFixes() {
	<script>
		document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
			if (evt.detail.xhr.status === 404 || evt.detail.xhr.status === 500) {
				evt.detail.shouldSwap = true;
				evt.detail.isError = false;
			}
		});
	</script>
}
