# Only count these languages
*.go  linguist-detectable=true
*.ts  linguist-detectable=true
*.tsx linguist-detectable=true

# Exclusions
client/dist/               linguist-vendored=true
client/node_modules/       linguist-vendored=true
assets/                    linguist-vendored=true
config/                    linguist-vendored=true
client/src/lib/            linguist-vendored=true
client/src/components/ui/  linguist-vendored=true
