package components

// Footer renders the site-wide copyright line. Kept as its own
// component (not baked into Contact) since it belongs at the bottom of
// every page, not just the home page.
templ Footer() {
	<footer class="border-t border-border bg-background px-3 py-8">
		<p class="text-center font-mono text-xs text-muted-foreground">
			Copyright © 2026 Jelius Basumatary. All Rights Reserved.
		</p>
	</footer>
}
