// SPDX-License-Identifier: AGPL-3.0-or-later
// Copyright (c) 2026 Jelius Basumatary

package components

import "fmt"

type LinkAttr struct {
	Id    string
	Href  string
	Class string
}

templ Link(attr LinkAttr) {
	<a
		if len(attr.Id) != 0 {
			id={ attr.Id }
		}
		{ templ.Attributes{
			"hx-on:htmx:before-request": fmt.Sprintf("if (window.location.pathname === '%s') event.preventDefault();", attr.Href),
		} ... }
		href={ attr.Href }
		hx-get={ attr.Href }
		if len(attr.Class) != 0 {
			class={ attr.Class }
		}
		hx-target="main"
		hx-swap="outerHTML show:window:top"
		hx-push-url="true"
	>
		{ children... }
	</a>
}
