package components

type LinkAttr struct {
	Id    string
	Href  string
	Class string
}

templ Link(attr LinkAttr) {
	<a id={ attr.Id } href={ attr.Href } hx-get={ attr.Href } class={ attr.Class } hx-target="main" hx-swap="outerHTML" hx-push-url="true">
		{ children... }
	</a>
}
