package pages

import "git.jelius.dev/jelius-sama/Portfolio/template/components"

type HomeData struct {
	AboutSectionMessage   []string
	SkillSectionData      components.SkillData
	ExperienceSectionData []components.ExperienceEntry
	ContactSectionData    components.ContactData
}

templ Home(data HomeData) {
	<main>
		@components.Hero()
		@components.About(data.AboutSectionMessage)
		@components.Skills(data.SkillSectionData)
		@components.Experience(data.ExperienceSectionData)
		@components.Projects()
		@components.Contact(data.ContactSectionData)
	</main>
}
