package pages

import "git.jelius.dev/jelius-sama/Portfolio/template/components"

templ Home() {
	<main>
		@components.Hero()
		@components.About()
		@components.Skills()
		@components.Experience()
		@components.Projects()
		@components.Contact()
		@components.Footer()
	</main>
}
