package pages

// import "portfolio/component/layout"

templ AnalyticsMeta() {
	<title>Analytics</title>
}

// templ AnalyticsLoading() {
//     @layout.Loading("analytics") {
//         <p>Loading analytics...</p>
//     }
// }

templ Analytics(name string) {
		<div>Hello, { name }</div>
}