package pages

// import "portfolio/templates"


templ LinksMeta() {
    <title>Jelius's SM Links</title>
}

// templ LinksLoading() {
//     @templates.Loading("links") {
//         <p>Loading links...</p>
//     }
// }

templ Links() {
    <p>Links</p>
}